*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    ". header header ."
    "main main main main"
    "img img img img";

  row-gap: 200px;
  background-color: #90e0ef;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

/*
Basics of the css, body and defaults.
*/

header {
  margin: 40px;
  grid-area: header;
  text-align: center;
  border: 20px solid #00b4d8;
  border-radius: 40px;
  background-color: #00b4d8;
}

h1 {
  font-size: 80px;
  color: black;
}

/*
The part of the header.
*/

main {
  margin-top: -120px;
  grid-area: main;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  width: 1100px;
  padding: 25px 80px 25px 25px;
  border-radius: 40px;
  border: 6px solid black;
  outline: none;
  font-size: 30px;
}

.search-bar:focus {
  border: 6px solid #0077b6;
  border-radius: 40px;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

.search-n-x {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.clear-button {
  font-size: 40px;
  position: absolute;
  right: 250px;
  margin-top: -10px;
  color: #0077b6;
}

.clear-button:hover {
  color: red;
}

/*
The search bar part.
*/

.third-container {
  position: relative;
  grid-area: img;
  display: flex;
  justify-content: space-evenly;
  font-size: 100px;
  margin-top: -70px;
}

.top {
  text-align: center;
  font-size: 0.74em;
  position: absolute;
  left: 30px;
  top: -100px;
  transform: rotate(-15deg);
  display: inline-block;
}

.top-img {
  border: 3px solid black;
  width: 100px;
  height: 100px;
}

.tops {
  position: relative;
}

.one {
  position: absolute;
  top: -10px;
  left: -40px;
}

.two,
.three {
  position: absolute;
  top: -10px;
  left: -65px;
}

/*
This is the top with the three movies part.
*/

body.after-searched {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  background-color: #90e0ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-container {
  margin-top: -200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px;
}

.movie-data {
  display: flex;
  width: 600px;
  height: 150px;
  border: 4px solid black;
  border-radius: 10px;
  padding: 20px;
}

.final-img {
  border: 3px solid black;
  width: 100px;
  height: 100px;
}

.moved {
  position: relative;
  bottom: -20px;
  right: -80px;
  font-size: 1.5em;
}

/*
After search elements
*/
